*{
    margin: 0px;
    padding:0px;
}

header{
    position: absolute;
    top:0px;
    left:0px;
    width:800px;
    height:250px;
    text-align: center;
    background-color: aqua;
 }
 
 section{ 
    position: absolute;
    top:250px;
    left:0px;
    width:800px;
    height:250px;
    text-align: center;
    background-color:yellow;
 }

 footer{
    position: absolute;
    top:500px;
    left:0px;
    width:800px;
    height:150px;
    text-align: center;
    background-color: orangered;
}